html {
  font-size: 10px;
  background: url('./photo-1598488035139-bdbb2231ce04.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(222, 64, 243);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .05s;
  width: 10rem;
  text-align: center;
  color: #ffffff;
  background: rgba(134, 10, 172, 0.171);
  text-shadow: 0 0 5px white;
  font-family: monospace;
}

.playing {
  transform: scale(1.1);
  border-color: ffc600;
  box-shadow: 0 0 10px #3cff00;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
  font-family: monospace;

}

h1{
  font-size: 40px;
  text-align: center;
color:purple;
text-shadow: 0 0 10px white;
font-family: graduate;

}